@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/* BASE.HTML PAGE */
body {
    background-color: black;
    position: relative;
    min-height: 100vh;
    padding-bottom: 58px;
}

#nav-line {
    margin: 0;
    color: rgba(0, 0, 0, 0.985);
    border-top: 2px solid;

}


/* .naver {
    background-color: #d0d0d0;
} */

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 4vw;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}


.nursedetail {
    padding-bottom: 52px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

/* .main-bg {
    background-color: black;
} */



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #0693e3;
}

/* INDEX.HTML PAGE */
#hero {
    background-color: black;
    color: #fff;
}


.bg-img {
    max-width: 100%;
    max-height: 100%;
}


.index_pg-img {
    height: 300px;
    padding-top: 10px;
}

.dark {
    background-color: black;
}

/* NURSEPROFILE AND NURSEDETAIL.HTML PAGES */
.card-body {
    color: #005eb8
}

.nursedetail {
    padding-bottom: 52px;
}

/* NURSEBLOG AND BLOGPOST_DETAIL.HTML PAGES */
.card {
    border: none;
    background-color: transparent;
}




.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}


.post-link {
    text-decoration: none;
    color: #005eb8
}

.post-link:hover,
.page-link {
    color: #09014a
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* SITE BUTTONS (Code snippet gotten from webdeasy.de) */
.glow-on-hover,
.home-button,
.btn-signup,
.submit-button,
.pagination-button,
.detail-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before,
.home-button:before,
.btn-signup:before,
.submit-button:before,
.pagination-button:before,
.detail-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active,
.home-button:active,
.btn-signup:active,
.submit-button:active,
.pagination-button:active,
.detail-button:active {
    color: #000
}

.glow-on-hover:active:after,
.home-button:active:after,
.btn-signup:active:after,
.submit-button:active:after,
.pagination-button:active:after,
.detail-button:active:after {
    background: transparent;
}

.glow-on-hover:hover:before,
.home-button:hover:before,
.btn-signup:hover:before,
.submit-button:hover:before,
.pagination-button:before,
.detail-button:before {
    opacity: 1;
}

.glow-on-hover:after,
.home-button:after,
.btn-signup:after,
.submit-button:after,
.pagination-button:after,
.detail-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.jumbotron {
    padding-top: 20%;
    padding-bottom: 20%;
}



/* SIGNUP, LOGOUT AND LOGIN.HTML PAGES */

/* VERY LARGE SCREENS */
@media screen and (min-width:950px) {
    .adjust {
        padding-top: 200px;
    }
}

/* MEDIUM SCREENS: LAPTOPS AND TABLETS */
@media screen and (max-width:950px) {}

/* IPADS */
@media screen and (max-width:768px) {}

/* MOBILE DEVICES */
@media screen and (max-width:480px) {
    h1 {
        font-size: 1.8em;
    }
}