{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="hero">
        <div class="col-md-4">
            <div>
                <h2 class="mt-2 brand-text page-links">Educational Platform for Nurses created by Nurses</h2>
                <p>The Cardiac Nurse is every nurse's go-to blog for quick, useful information about anything
                    cardiovascular. It is a platform that has a repertoire of other professional collegues that
                    specialise in cardiac nursing</p>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <img src="{% static 'images/heart.jpg' %}" alt="Responsive image" class="bg-img">
            </div>
        </div>
    </div>

    <div class="row content mb-5 d-flex justify-content-center">
        <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
            <div>
                <a href="#">
                    <img src="{% static 'images/nurses.png' %}" class="index_pg-img" alt="Picture of health workers">
                    <h3 class="mt-2 brand-text page-links">Meet our brilliant nurses</h3>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
            <div>
                <a href="{% url 'our_blog' %}">
                    <img src="{% static 'images/injection.jpg' %}" class="index_pg-img"
                        alt="Picture of injection syringe">
                    <h3 class="mt-2 brand-text page-links">Check out our blog</h3>
                </a>
            </div>
        </div>
    </div>
    {% endblock content %}