{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="col-12 bg-light nursedetail">
    <br>
    <!-- NURSE PROFILE PICTURE -->
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2>{{ nurse.nurse_name }}</h2>
                    <hr />
                    <div class="image-container">
                        <img class="card-img-top" src="{{ nurse.nurse_image.url }}" alt="{{ nurse.nurse_name }}">
                    </div>
                </div>
            </div>
        </div>

        <!-- NURSE DETAILS -->
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="text-center">Area of interest: <span
                            class="badge rounded-pill text-bg-danger">{{ nurse.specialty }}</span>
                    </h2>
                    <hr />
                    <h3 class="text-center">Career Journey</h3>
                    <p>{{ nurse.description | safe }}</p>

                    {% if request.user == nurse.profile_creator %}
                    <hr class="adjust">
                    <p>You created this profile, so you can edit or delete it by clicking the button below</p>
                    <button onclick="location.href='{% url 'editnurseprofile' nurse.slug %}'" type="button"
                        class="detail-button">EDIT</button>
                    <button onclick="location.href='{% url 'deleteprofile' nurse.slug %}'" type="button"
                        class="detail-button">DELETE</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- ADVERT SECTION TO LINK USERS TO EXTERNAL WEBSITE-->
    <div class="row bg-black">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header"></h5>
                <div class="card-body">
                    <h5 class="card-title text-center bcs-color"><b>British Cardiovascular Society (BCS)</b></h5>
                    <p class="bcs-advert">Founded in 1922, the British Cardiovascular Society (BCS)
                        has evolved into a
                        complex organisation that plays a pivotal role in the delivery of cardiovascular health across
                        the UK. <br>They currently have around 3,000 members including the great majority (probably 90%)
                        of UK
                        consultant cardiologists. Specialist registrars, GPs with a special interest, <b>Nurses</b> and
                        other professionals with an interest in cardiovascular medicine are also members.
                        The Society became a UK Registered Charity in 2002. Registered Charity No: 1093321</p>
                    <p class="card-text">Visit BCS website for latest news on heart health</p>
                    <a href="http://www.cardionewsuk.org/" target="_blank"
                        class="mt-2 brand-text page-links btn btn-lg home-button"> BCS News
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 spotlight">
            <div class="container">
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}