{% extends "base.html" %}

{% block content %}

<div class="col-12 bg-light">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in nurseblog_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://images.pexels.com/photos/8814070/pexels-photo-8814070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="default img">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="{{ post.featured_image }}">
                                {% endif %}
                                <div>
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href=" {% url 'blogpost_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="detail-button">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="detail-button"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <!-- ADVERT SECTION TO LINK USERS TO EXTERNAL WEBSITE-->
    <div class="row bg-black">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center bcs-color"><b>British Cardiovascular Society (BCS)</b></h5>
                    <p class="bcs-advert-small">As part of our commitment in supporting nurses
                        with information, below
                        is the link to BCS</p>
                    <p class="bcs-advert">Founded in 1922, the British Cardiovascular Society (BCS)
                        has evolved into a
                        complex organisation that plays a pivotal role in the delivery of cardiovascular health across
                        the UK. <br>They currently have around 3,000 members including the great majority (probably 90%)
                        of UK
                        consultant cardiologists. Specialist registrars, GPs with a special interest, <b>Nurses</b> and
                        other professionals with an interest in cardiovascular medicine are also members.
                        The Society became a UK Registered Charity in 2002. Registered Charity No: 1093321</p>
                    <p class="card-text bcs-advert">Visit BCS website for latest news on heart health</p>
                    <a rel="external" href="http://www.cardionewsuk.org/" target="_blank"
                        class="mt-2 brand-text page-links btn btn-lg home-button"> BCS News
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 spotlight">
            <div class="container">
            </div>
        </div>
    </div>
</div>
{%endblock%}