{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    <div class="card col-sm-6 mx-auto welcome text-white mt-4">
        <div class="card-body text-center">
            <h2 class="card-title">Welcome, {{user}}</h2>
            <p class="card-text">Feel free to browse through all our cardiology nurses.</p>
        </div>
    </div>
    {% endif %}

    <!-- JOIN PLATFORM -->
    {% if user.is_authenticated and not user.nurse_profile.exists %}
    <div class="col-sm-9 mx-auto mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title">Are you a nurse with interest in cardiovascular nursing?</h2>
                <hr>
                <p class="card-text">If you work in cardiac setting in any capacity, from CCU to CNS, from Cath Lab to
                    NP,
                    then this platform is for you.</p>
                <button onclick="location.href='{% url 'submitprofile' %}'" type="button" class="glow-on-hover">Join
                    our platform</button>
            </div>
        </div>
        {% endif %}

        <!-- NURSES LIST -->
        <div class="row mt-4">
            {% for nurse in nurseprofile_list %}
            <div class="col-md-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ nurse.nurse_image.url }}" alt="{{ nurse.nurse_name }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'nursedetails' nurse.slug %}"
                                class="text-dark">{{ nurse.nurse_name }}</a></h5>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>

        <!-- PAGINATION -->
        {% if is_paginated %}
        <br>
        <div class="row mt-4 mb-4">
            <div class="col-12 d-flex justify-content-center">
                {% if page_obj.has_previous %}
                <button onclick="location.href='?page={{ page_obj.previous_page_number }}'" type="button"
                    class="pagination-button mr-2">PREV</button>
                {% endif %}
                {% if page_obj.has_next %}
                <button onclick="location.href='?page={{ page_obj.next_page_number }}'" type="button"
                    class="pagination-button">NEXT</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% endblock content %}