{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ART PRINTS -->
<div class="col-12 art-prints-area">
    <div class="row print-display new-submission">
        <!-- NEW PRINT SUBMISSION FIELD -->
        {% if user.is_authenticated %}
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body all-prints-cards">
                    <h2>Submit your print:</h2>
                    <hr />
                    <p>Have a piece you want to share?</p>
                    <p>Just click the button!</p>
                    <br>
                    <button onclick="location.href='{% url 'submitprint' %}'" type="button"
                        class="submit-print-button">SUBMIT PRINT</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock content %}