{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- JOIN PLATFORM -->
<div class="col-12 bg-light">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        {% if user.is_authenticated %}
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h2>Are you a nurse with interest in cardiovascular nursing?</h2>
                    <hr />
                    <p>If you work in cardiac setting in any capacity, from CCU to CNS, from Cath Lab to NP, then this
                        platform is for you.</p>
                    <br>
                    <button onclick="location.href='{% url 'submitprofile' %}'" type="button" class="glow-on-hover">Join
                        our platform</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row print-display">
        <!-- VERIFY NURSE/USER NEW TO PLATFORM -->
        {% for nurse in nurseprofile_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <img class="card-img-top" src="{{ nurse.nurse_image.url }}" alt="{{ nurse.nurse_name }}">
                        <div class="image-flash">
                            <a href="{% url 'nursedetails' nurse.slug %}" class="nurse-link">
                                <p>RN: {{ nurse.nurse_name }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row print-display">
        {% endif %}
        {% endfor %}
    </div>

    <br>

    <div class="row next-prev-button">
        {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
            <button onclick="location.href='?page={{ page_obj.previous_page_number }}'" type="button"
                class="pagination-button mb-4">PREV</button>
            {% endif %}
            {% if page_obj.has_next %}
            <button onclick="location.href='?page={{ page_obj.next_page_number }}'" type="button"
                class="pagination-button mb-4">NEXT</button>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}