{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="col-12 bg-light nursedetail">
    <br>
    <!-- NURSE PROFILE PICTURE -->
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body single-print-card">
                    <h2>{{ nurse.nurse_name }}</h2>
                    <hr />
                    <div class="image-container">
                        <img class="card-img-top" src="{{ nurse.nurse_image.url }}" alt="{{ nurse.nurse_name }}">
                    </div>
                </div>
            </div>
        </div>

        <!-- NURSE DETAILS -->
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2>Area of interest: {{ nurse.specialty }}</h2>
                    <hr />
                    <h3>------- Career Journey -------</h3>
                    <p>{{ nurse.description | safe }}</p>

                    {% if request.user == nurse.profile_creator %}
                    <hr class="adjust">
                    <p>You created this profile, so you can edit or delete it by clicking the button below</p>
                    <button onclick="location.href='{% url 'editnurseprofile' nurse.slug %}'" type="button"
                        class="detail-button">EDIT</button>
                    <button onclick="location.href='{% url 'deleteprofile' nurse.slug %}'" type="button"
                        class="detail-button">DELETE</button>
                    {% else %}
                    <p> You are not a profile creator </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}