{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}

<div class="col-12">
    <div class="row">
        <!-- FORM FOR NURSE TO JOIN PLATFORM -->
        {% if user.is_authenticated %}
        <div class="col-12  h-100 d-flex align-items-center justify-content-center">
            <div class="card mb-4 mt-2">
                <div class="card-body">
                    <h2>Tell us your career story:</h2>
                    <hr />
                    <p>just click the button</p>
                    <form method="POST" style="margin-top: 1.3em;" enctype="multipart/form-data">
                        {{ profile_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="submit-button mt-2" id="submit-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}